/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap");
html {
  scroll-behavior: smooth;
}
/* Scroll Bar code */

::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  border: 5px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --primary: #000;
  --secondary: 24, 24, 27;
  --borderPrimary: 63, 63, 70, 0.4;
  --hrBorderColor: 0, 0, 0, 0.15;
  --title: 244, 244, 245;
  --subtitle: 161, 161, 170;
  --header: 39, 39, 42;
  --specialBlue: 93, 188, 252;
  --specialCyan: 93, 188, 252;
  --iconHover: #d4d4d8;
  --cardBorderColor: 93, 188, 252, 0.3;
  --cardBorder: 93, 188, 252;
  --inputText: #fff;
  --projectCardBg: 247, 247, 247, 0.2;
  --buttonBg: 36, 37, 46, 1;
  --buttonText: #fff;
}

.light {
  --primary: #fff;
  --secondary: 250, 250, 250;
  --borderPrimary: 202, 202, 202, 0.518;
  --hrBorderColor: 0, 0, 0, 0.01;
  --title: 39, 39, 42;
  --subtitle: 82, 82, 91;
  --header: 253, 253, 253;
  --specialBlue: 0, 0, 0;
  --specialCyan: 0, 0, 0;
  --iconHover: #333;
  --cardBorder: none;
  --cardBorderColor: 93, 188, 252, 0;
  --cardBorder: 93, 188, 252, 0;
  --inputText: #000;
  --projectCardBg: 0, 0, 0, 0.1;
  --buttonBg: 245, 245, 245, 1;
  --buttonText: #000;
}
